<launch>

      <!-- these are the arguments you can pass this launch file, for example paused:=true -->
      <arg name="model" default="$(find realsense2_description)/urdf/test_l515_camera.urdf.xacro" />
      <arg name="robot_name" default="camera" />
      <arg name="init_pose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0" />


      <!-- robot description to load in rviz or gazebo -->
      <param name="robot_description" command="$(find xacro)/xacro $(arg model)  camera_name:=$(arg robot_name)  name:=$(arg robot_name)" />

      <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->


      <!-- push robot_description to factory and spawn robot in gazebo -->
      <node name="urdf_spawner_$(arg robot_name)" pkg="gazebo_ros" type="spawn_model" args="$(arg init_pose)  -urdf  -param robot_description  -model $(arg robot_name)" respawn="false" output="screen" />
      <!-- args="-z 1.0 -unpause -urdf -model camera -param robot_description" respawn="false" output="screen" /> -->
      <!-- -x 0.2 -y -0.3 -z 1.0 -R 0 -P 0 -Y 1.5707963267948966  -->
      <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher_$(arg robot_name)" output="screen">
            <!-- <param name="tf_prefix" value="$(arg robot_name)_tf" /> -->
      </node>

      <rosparam command="load" file="$(find apriltag_ros)/config/settings.yaml" ns="$(arg robot_name)" />
      <rosparam command="load" file="$(find apriltag_ros)/config/tags.yaml" ns="$(arg robot_name)" />

      <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg robot_name)" clear_params="true" output="screen">
            <remap from="image_rect" to="/$(arg robot_name)/color/image_raw" />
            <remap from="camera_info" to="/$(arg robot_name)/color/camera_info" />

            <param name="publish_tag_detections_image" type="bool" value="true" />
      </node>


</launch>