<launch>
	<!-- arguments for the urdf xacro file, rviz visualization and namespace -->
	<arg name="model" default="$(find realsense2_description)/urdf/test_l515_camera.urdf.xacro" />
	<param name="robot_description" command="$(find xacro)/xacro  $(arg model)" />
	<!-- <param name="robot_description" command="$(find xacro)/xacro inorder $(arg model)" /> -->
	<!-- <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
	  <param name="publish_frequency" type="double" value="30.0" />
	</node> -->

	<arg name="paused" default="false" />
	<arg name="use_sim_time" default="true" />
	<arg name="gui" default="true" />
	<arg name="headless" default="false" />
	<arg name="debug" default="false" />


	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)" />
		<arg name="use_sim_time" value="$(arg use_sim_time)" />
		<arg name="headless" value="$(arg headless)" />
		<arg name="world_name" default="/home/omer/table_world" />
	</include>

	<!-- this will include the launch file for gazebo given the model -->
	<group ns="camera0">
		<!-- <param name="tf_prefix" value="camera0_tf" /> -->
		<include file="$(find realsense2_description)/launch/gazebo.launch">
			<arg name="model" value="$(arg model)" />
			<arg name="init_pose" value="-x 2.595479 -y -0.587860 -z 1.983387 -R -0.058205 -P 0.392789 -Y 2.737851 " />
			<arg name="robot_name" value="camera0" />
		</include>
	</group>

	<group ns="camera1">
		<param name="tf_prefix" value="camera1_tf" />
		<include file="$(find realsense2_description)/launch/gazebo.launch">
			<arg name="model" value="$(arg model)" />
			<arg name="init_pose" value="-x 2.584042 -y -0.909193 -z 1.931669 -R 0.098445 -P 0.682711 -Y -2.841633" />
			<arg name="robot_name" value="camera1" />
		</include>
	</group>


	<!-- <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
	 <arg name="launch_prefix" default="" /> 
	  <arg name="node_namespace" default="apriltag_ros_continuous_node" />
	  <arg name="camera_name" default="/camera/color" />
	  <arg name="image_topic" default="image_raw" />
	</include> -->


	<!-- <node pkg="tf" type="static_transform_publisher" 
		name="static_map_tf_publisher" args="0 0 0 0 0 0 world map 100" /> -->

	<!-- <include file="$(find tams_apriltags/)/launch/april_cube_demo.launch"/> -->
	<include file="$(find tams_apriltags)/launch/april_cube_demo.launch"></include>

	<!-- <arg name="gui" default="True" /> -->
	<param name="use_gui" value="$(arg gui)" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense2_description)/rviz/urdf.rviz" required="true" />
</launch>
